html, body {
	font-family:Segoe UI Light, Segoe UI, Sans-Serif, serif;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background-color:#2B2B2B;
	color:white;
	box-sizing:border-box;
}
*, *:before, *:after {
	box-sizing:inherit;
}
header {
	background-color:#0E4000;
	height:47px;
	padding:5px 10px;
	line-height:30px;
}
#greeting {
	margin-top:2px;
	float:left;
}
#selected_game_label {
	margin-top:2px;
	margin-left:20px;
	float:left;
}
input {
	border:1px solid #EAFFE2;
	background-color:transparent;
	color:white;
	padding:2px;
	text-align:right;
}
input[type="checkbox"] {
	border:1px solid #EAFFE2;
	background-color:transparent;
}
select {
	border:1px solid #EAFFE2;
	background-color:transparent;
	color:white;
	padding:2px;
	cursor:pointer;
}
button:hover, select:hover, #logout_button:hover, nav ul li:hover, .chart_tab:hover, #save_server_config:hover, input:hover {
	background-color:#30A800;
	text-shadow:2px 2px #000000;
}
select option {
	background-color:#0E4000;
}
#title {
	margin:2px auto 0 auto;
	width:300px;
	text-align:center;
}
#restart_fsm {
	float:right;
	margin-right:4px;
}
#logout_form {
	float:right;
	margin:0;
}
#logout_button, #save_server_config {
	background-color:transparent;
	border:1px solid #EAFFE2;
	color:white;
	font-family:Segoe UI Light, Segoe UI, Sans-Serif, serif;
	padding:7px 8px 9px 8px;
	cursor:pointer;
}
nav {
	background-color:#101011;
	float:left;
	height:calc(100% - 47px);
	width:165px;
	padding-top:15px;
	border-right:1px solid #8C8C8C;
}
nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
nav ul li {
	padding:10px;
	font-size:15px;
	cursor:pointer;
}
.selected_nav, .selected_tab {
	background-color:#1D6600;
}
main {
	float:right;
	width:calc(100% - 165px);
	height:calc(100% - 47px);
}
section {
	padding:10px;
	height:100%;
	overflow:auto;
}
.hidden {
	display:none !important;
}
button {
	padding:8px;
	background-color:transparent;
	border:1px solid #EAFFE2;
	color:white;
	font-family:Segoe UI Light, Segoe UI, Sans-Serif, serif;
	cursor:pointer;
}
#overlay {
	position:fixed;
	display:table;
	width:100%;
	height:100%;
	background-color:rgba(43, 43, 43, 0.6);
	top:0;
	left:0;
	text-align:center;
}
#overlay_cell {
	display:table-cell;
	vertical-align:middle;
}
#overlay_msg {
	border:1px solid black;
	width:101px;
	margin:auto;
	padding:10px;
	background-color:#191919;
}
#console_sec, #console_box {
	width:100%;
	height:100%;
}
#console_box {
	border:1px solid #EAFFE2;
	overflow-x:auto;
}
.console_line {
	border-bottom:1px dotted #EAFFE2;
	padding:4px;
}
.console_line:last-child {
	border-bottom:0;
}
#status_sec {
	height:100%;
	position:relative;
}
#charts {
	margin:auto;
	width:80%;
	height:240px;
	clear:left;
}
#game_status, #total_mem, #current_version {
	margin-left:10px;
}
.chart_box {
	height:200px;
	border:1px solid #EAFFE2;
	position:relative;
}
.chart_tab {
	border-bottom:1px solid #EAFFE2;
	border-left:1px solid #EAFFE2;
	border-right:1px solid #EAFFE2;
	float:left;
	padding:8px;
	box-sizing:border-box;
	width:calc(100% / 3);
	cursor:pointer;
}
#game_mem_tab {
	border-left:0;
	border-right:0;
}
.history_bar {
	width:1%;
	background-color:#1D6600;
	position:absolute;
	bottom:0;
}
.bold {
	font-weight:bold;
}
#status_buttons {
	position:absolute;
	bottom:0;
}
#config_sec label, #config_sec .label {
	display:block;
	margin-bottom:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	height:48px;
	border-bottom:1px solid #EAFFE2;
}
#config_sec label:last-child {
	border-bottom:0;
}
#config_sec input[type="text"], #config_sec input[type="number"], #config_sec select {
	display:block;
	margin-left:40px;
	width:calc(100% - 40px);
}
#config_sec input[type="checkbox"] {
	float:right;
	margin-top:30px;
}
#add_tags, #add_admins {
	cursor:pointer;
	float:right;
}
#admin_list, #tag_list {
	margin-left:5px;
	margin-right:10px;
	float:left;
}
#visibility_label {
	margin-left:10px;
}
#visibility_label label {
	margin-left:15px;
	height:27px;
}
#visibility_label input {
	margin-top:10px !important;
}
.column {
	float:left;
}
.column:first-of-type {
	margin-right:20px;
}
#save_server_config {
	clear:left;
	float:left;
}
.list_item {
	margin-left:5px;
	float:left;
	border:1px solid #EAFFE2;
	padding:0 1px 2px 1px;
	border-radius:4px;
}
.remove {
	margin-left:3px;
	float:right;
	cursor:pointer;
}
